<!DOCTYPE html>
<html lang="en">
<head th:replace="template :: site-head">
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <button type="button" data-toggle="modal" data-target="#modal-add-member" class="btn btn-primary add">
                Add Member
            </button>
            <!-- add member modal starts -->
            <div class="modal fade" id="modal-add-member" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <form id="addmember" name="addmember" th:action="@{/}" th:object="${member}" method="post">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">*</button>
                                <h4 class="modal-title">Add Member</h4>
                            </div>
                            <div class="modal-body" th:fragment="members">
                                <div>
                                    <label class="control-label">First Name</label>
                                    <input class="name" th:field="*{name}" type="text" placeholder="Name"/>
                                    <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
                                </div>
                                <div>
                                    <label class="control-label">Surname</label>
                                    <input class="surname" th:field="*{surname}" type="text" placeholder="Surname"/>
                                    <td th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname Error
                                    </td>
                                </div>
                                <div>
                                    <label class="control-label">Phone Number</label>
                                    <input class="phonenumber" id="phoneNumber" th:field="*{phoneNumber}" type="text"
                                           placeholder="Phone Number"/>
                                    <td th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Phone
                                        Number Error
                                    </td>
                                </div>
                                <div>
                                    <label class="control-label">Email</label>
                                    <input class="email" th:field="*{email}" type="text" placeholder="Email"/>
                                    <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</td>
                                </div>
                                <input class="id" th:field="*{id}" hidden="true" type="text"/>
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="g-recaptcha"
                                             data-sitekey="6LfwOwsUAAAAAO2C2-QAvq42cm2bNQNj6-WTUH-p"></div>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="hidden" class="hiddenRecaptcha required" name="hiddenRecaptcha"
                                               id="hiddenRecaptcha"/>
                                    </div>
                                </div>


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    Close
                                </button>
                                <button type="submit" class="btn btn-primary">
                                    Save changes
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- add member modal ends -->
            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th>NO</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody th:fragment="members" th:each="member,iterStat : ${members}">
                <tr>
                    <td th:text="${iterStat.count}"></td>
                    <td class="name" th:text="${member.name}"></td>
                    <td class="lastname" th:text="${member.surname}"></td>
                    <td class="email" th:text="${member.email}"></td>
                    <td class="phonenumber" th:text="${member.phoneNumber}"></td>
                    <td class="id" hidden="true" th:text="${member.id}"></td>
                    <td>
                        <button type="button" class="btn btn-warning edit">
                            Edit
                        </button>
                        <!-- edit member modal starts -->
                        <div class="modal fade" id="modal-edit-member" role="dialog" aria-labelledby="myModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <form id="editmember" name="editmember" th:action="@{/}" th:object="${member}"
                                      method="post">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                *
                                            </button>
                                            <h4 class="modal-title">Add Member</h4>
                                        </div>
                                        <div class="modal-body" th:fragment="members">
                                            <div>
                                                <label class="control-label">First Name</label>
                                                <input class="name" th:field="*{name}" type="text" placeholder="Name"/>
                    <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
        </div>
        <div>
            <label class="control-label">Surname</label>
            <input class="surname" th:field="*{surname}" type="text" placeholder="Surname"/>
            <td th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname Error
            </td>
        </div>
        <div>
            <label class="control-label">Phone Number</label>
            <input class="phonenumber" th:field="*{phoneNumber}" type="text"
                   placeholder="Phone Number"/>
            <td th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Phone
                Number Error
            </td>
        </div>
        <div>
            <label class="control-label">Email</label>
            <input class="email" th:field="*{email}" type="text" placeholder="Email"/>
            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</td>
        </div>
        <input class="id" th:field="*{id}" hidden="true" type="text"/>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
        </button>
        <button type="submit" class="btn btn-primary">
            Save changes
        </button>
    </div>
</div>
</form>
</div>
</div>
<!-- edit member modal ends -->


<button type="button" th:attr="data-href=${member.id}" data-toggle="modal"
        data-target="#modal-delete-member" class="btn btn-danger">
    Delete
</button>
<!-- Delete member modal start-->
<div class="modal fade" id="modal-delete-member" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">*
                </button>
                <h4 class="modal-title">Delete Member</h4>
            </div>
            <div class="modal-body">
                <p>Do you realy want to delete this member?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
                <button type="button" th:onclick="'javascript:onDelete(this)'"
                        class="btn btn-primary btn-ok">
                    Delete Member
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Delete member modal end-->
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<section id="site-footer" th:replace="template :: site-footer-js"></section>

<script>
</script>
</body>
</html>